body {
    background-color: #2f2f2f;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#game {
    width: 500px;
}

@media (width <= 600px) {
    #game {
        width: 95%;
    }
}